---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout primaryTitle='关于'>
	<section class='archive'>
		<div class='section-content section-tag'>
			<div class='archive-tag'>
				<h2 class='tag-header'>关于我</h2>
				<div class='tag-post-list'>
					<ul>
						<li>👨‍💻React主力用户</li>
						<li>🕵️‍♂️TS类型体操强迫症患者</li>
						<li>✍左大括号必须放行尾</li>
					</ul>
				</div>
			</div>

			<div class='archive-tag'>
				<h2 class='tag-header'>关注我</h2>
				<div class='tag-post-list'>
					<ul>
						<li>
							<a
								href='https://space.bilibili.com/1473297330'
								target='_blank'
							>
								bilibili</a
							>
						</li>
						<li>
							<a
								href='https://juejin.cn/user/4171977964391719'
								target='_blank'
							>
								掘金
							</a>
						</li>
						<li>
							<a href='https://github.com/LunaSekiii'> Github</a>
						</li>
					</ul>
				</div>
			</div>

			<div class='archive-tag'>
				<h2 class='tag-header'>随想</h2>
				<div class='tag-post-list'>
					<ul>
						<li>写的东西没人看咋办……</li>
					</ul>
				</div>
			</div>

			<div class='archive-tag'>
				<h2 class='tag-header'>一些作品</h2>
				<div class='tag-post-list'>
					<ul>
						<li>
							<a href='https://www.npmjs.com/package/suyou'
								>溯游</a
							>🧳一个分析npm依赖的CLI工具
						</li>
						<li>
							<a href='https://srcm-project.vercel.app/#/data'
								>科研会议管理系统(demo)</a
							>📅用于Tan老师的URP团队周会
						</li>
						<li>还有点啥呢......</li>
					</ul>
				</div>
			</div>
		</div>
	</section>
</BaseLayout>
