---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout primaryTitle="关于">
	<section class="archive">
		<div class="section-content section-tag">
			<div class="archive-tag">
				<h2 class="tag-header">关于我</h2>
				<div class="tag-post-list">
					<ul>
						<li>一般通过拉拉人</li>
						<li>实用主义</li>
						<li>左大括号必须放行尾</li>
					</ul>
				</div>
			</div>

			<div class="archive-tag">
				<h2 class="tag-header">关注我</h2>
				<div class="tag-post-list">
					<ul>
						<li>
							<a
								href="https://space.bilibili.com/1473297330"
								target="_blank"
							>
								BiliBili</a
							>
						</li>
						<li>
							<a
								href="https://juejin.cn/user/4171977964391719"
								target="_blank"
							>
								掘金
							</a>
						</li>
					</ul>
				</div>
			</div>

			<div class="archive-tag">
				<h2 class="tag-header">随想</h2>
				<div class="tag-post-list">
					<ul>
						<li>写的东西没人看咋办……</li>
					</ul>
				</div>
			</div>

			<!-- <div class="archive-tag">
				<h2 class="tag-header">一些作品</h2>
				<div class="tag-post-list">
					<ul>
						<li>有点多，我下次整理一下。</li>
					</ul>
				</div>
			</div> -->
		</div>
	</section>
</BaseLayout>
