---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
const { primaryTitle } = Astro.props;
const title = primaryTitle ? `${primaryTitle}  -  ${SITE_TITLE}` : SITE_TITLE;
---

<html
	class="js no-touch progressive-image no-reduced-motion progressive"
	lang="zh-CN"
	dir="ltr"
>
	<head>
		<BaseHead title={title} description={SITE_DESCRIPTION} />
		<script
			async
			src="https://www.googletagmanager.com/gtag/js?id=G-0L1BN5LX75"
		></script><script>
			window.dataLayer = window.dataLayer || [];
			function gtag() {
				dataLayer.push(arguments);
			}
			gtag("js", new Date());

			gtag("config", "G-0L1BN5LX75");
		</script></head
	>
	<!-- Google tag (gtag.js) -->

	<body class="page-landing">
		<!-- Google Tag Manager (noscript) -->
		<noscript
			><iframe
				src="https://www.googletagmanager.com/ns.html?id=GTM-K2NNFQG"
				height="0"
				width="0"
				style="display:none;visibility:hidden"></iframe></noscript
		>
		<!-- End Google Tag Manager (noscript) -->
		<Header />
		<slot />
		<Footer />
	</body>
</html>
